#block_account,#block_test{
    width:50%;
    padding:20px;
    height:auto;
    float:left;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
}
input{
    float:left;
}

/*Стили  Пользовательской информации*/
.label{
    float:left;
}
.clear{
    clear: both;
}

.change{
    margin: 10px 10px;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 110px;
    height:auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.info_fio, .info_email,.info_login, .info_pw{

    clear:both;

}

.save{
    display:none;
    float:left;
    margin:10px 10px;

}

/*Стили смены пароля*/

.error{
    /*display:none;*/
}
.change_pw{
    cursor: pointer;
}

#old_pass,#new_pass, .change_pass {
    display: none;

}
#success, #error{
    display:none;
}

/*Стили тестового задания*/
.test-btn{
   margin:10px 0;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width:80%;
    height:auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;

    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;

}
.test-btn > a{
    text-decoration: none;
    color: #fff;
}
#block_result{
    width:80%;
    padding:20px;
    height:auto;
    float:left;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
}

.activ{
    background-color: #fd0d29;
}